In [2]:
!pip install -q condacolab

In [3]:
import condacolab
condacolab.install()

‚è¨ Downloading https://github.com/jaimergp/miniforge/releases/latest/download/Mambaforge-colab-Linux-x86_64.sh...
üì¶ Installing...
üìå Adjusting configuration...
ü©π Patching environment...
‚è≤ Done in 0:00:35
üîÅ Restarting kernel...

In [1]:
!conda --version

conda 4.9.2

In [2]:
cd drive/MyDrive/Colab\ Notebooks/pandas-master

/content/drive/MyDrive/Colab Notebooks/pandas-master

In [3]:
ls

data/  Pandas_Cheatsheet.ipynb

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 1.Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ, ÏãúÎ¶¨Ï¶à

In [ ]:
# Series
s1 = pd.core.series.Series([1,2,3])
s1

0    1
1    2
2    3
dtype: int64

In [ ]:
s2 = pd.Series(['one','two','three'])
s2

0      one
1      two
2    three
dtype: object

In [ ]:
# DataFrame
pd.DataFrame(data=dict(num=s1,word=s2))

   num   word
0    1    one
1    2    two
2    3  three

## 2.ÌååÏùºÏóêÏÑú Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞

In [5]:
# driveÏóê Ï†ÄÏû•Îêú Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞(csv)
df = pd.read_csv('data/friend_list.csv')

In [6]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [7]:
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [8]:
# driveÏóê Ï†ÄÏû•Îêú Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞(txt)
df= pd.read_csv('data/friend_list.txt')

In [9]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [10]:
# driveÏóê Ï†ÄÏû•Îêú Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞(txt - tab Íµ¨Î∂Ñ : delimiter)
df= pd.read_csv('data/friend_list_tab.txt',delimiter="\t")

In [11]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [12]:
#header Í∞Ä ÏóÜÏùÑ Îïå
df = pd.read_csv('data/friend_list_no_head.csv', header = None)
df

       0   1          2
0   John  20    student
1  Jenny  30  developer
2   Nate  30    teacher
3  Julia  40    dentist
4  Brian  45    manager
5  Chris  25     intern

In [13]:
df.columns= ['name','age','job']
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [14]:
df = pd.read_csv('data/friend_list_no_head.csv', header = None, names =['name','age','job'])
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern